<div class="flex h-screen bg-gray-100">
  <div class="flex flex-col w-64 bg-slate-800 text-white">
    <div class="flex items-center justify-center py-4">
      <span class="text-2xl font-bold">Albatros</span>
    </div>
    <div class="flex-1 px-4 space-y-2">
      <button
        routerLink="patients"
        class="w-full text-left py-2 px-4 rounded-lg hover:bg-slate-700"
      >
        <span class="text-lg">Patients</span>
      </button>
      <button
        routerLink="symptoms"
        class="w-full text-left py-2 px-4 rounded-lg hover:bg-slate-700"
      >
        <span class="text-lg">Symptoms</span>
      </button>
      <button
        routerLink="users"
        class="w-full text-left py-2 px-4 rounded-lg hover:bg-slate-700"
      >
        <span class="text-lg">Users</span>
      </button>
    </div>

    <!-- Botón de Logout empujado hacia abajo -->
    <div class="mt-auto px-4 pb-4">
      <button
        (click)="logout()"
        class="w-full text-left py-2 px-4 rounded-lg hover:bg-red-700 bg-red-600"
      >
        <span class="text-lg">Logout</span>
      </button>
    </div>
  </div>

  <div class="flex-1 p-8">
    <router-outlet></router-outlet>
  </div>
</div>
